@model Habit_Tracker___Doveloop.Models.ViewModels.HabitViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Habit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habit.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habit.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habit.Units)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habit.Units)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Labels)
        </dt>
        <dd class = "col-sm-10">
            @{
                string labelNames = "";
                foreach (var label in Model.Labels)
                    labelNames += label.Name + ", ";
                if (labelNames.Length == 0) labelNames = "No labels";
                else labelNames = labelNames.Remove(labelNames.Length - 2, 2);
                @labelNames;
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habit.Entries)
        </dt>
        <dd class = "col-sm-10">
            @{
                string entries = "";
                @entries;
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Habit.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
