@model IEnumerable<Habit_Tracker___Doveloop.Models.ViewModels.HabitViewModel>

@{
    ViewData["Title"] = "Index";
}
    <head>
    <link rel="stylesheet" type="text/css" href="/css/habitIndex.css" />
        
</head>
<h1>Habits List</h1>


<p class ="addbutton">
    <a  asp-action="Create"  >+</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Habit.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Labels)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Habit.Name)
            </td>
            <td class = "label"> 
                @{
                    
                    string labelNames = "";
                    foreach (var label in item.Labels)
                        labelNames += label.Name + ", ";
                    if (labelNames.Length == 0) labelNames = "No labels";
                    else labelNames = labelNames.Remove(labelNames.Length - 2, 2);
                    @labelNames;
                    
                }
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Habit.Id">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Habit.Id">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Habit.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
