@model IEnumerable<Habit_Tracker___Doveloop.Models.ViewModels.HabitViewModel>

@{
    ViewData["Title"] = "Index";
}
    <head>
    <link rel="stylesheet" type="text/css" href="/css/habits.css" />
        
</head>
<h1>Habits List</h1>


<p class ="addbutton">
    <a  asp-action="Create"  >+</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Habit.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Labels)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="card">
            <td class="name">
                @Html.DisplayFor(modelItem => item.Habit.Name)
            </td>
            <td>
                @foreach (var label in item.Labels){
                            
                    <div class="label">
                        @label.Name
                    </div>
                    }
                @if(item.Labels.Count==0){
                    <div class="nolabels">No Labels</div>
                }
            </td>
            
            <td>
                    <a class="interaction-buttons" asp-action="Edit" asp-route-id="@item.Habit.Id">Edit</a>
                    <a class="interaction-buttons" asp-action="Details" asp-route-id="@item.Habit.Id">Details</a>
                    <a class="interaction-buttons" asp-action="Delete" asp-route-id="@item.Habit.Id">Delete</a>
                    <form asp-controller="Habit" asp-action="AddHabitEntry">
                        <input type="hidden" name="id" value="@item.Habit.Id"/>
                        <input type="submit" class="interaction-buttons" value="Add Entry">
                        <input class="interaction-buttons" type="date" name="entryDate" />
                        <input class="interaction-buttons" type="number" name="entryUnits" min="1" />
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
